<h1>Show Todo, <%= @todo.name %></h1>

<!--
Go to the todos controller and do the edit action
The edit action renders a form
The form should already be populated with the todo's info
-->
<a href="/todos/<%= @todo.id %>/edit">Edit todo</a>
<form action="/todos/<%= @todo.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete todo</button>
</form>